.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
*.la
*.lo
