Source: libnss-rightscale
Section: admin
Priority: optional
Maintainer: Peter Schroeter <peter.schroeter@rightscale.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.0
Homepage: http://github.com/rightscale/libnss-rightscale

Package: libnss-rightscale
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NSS module for RightScale
 This package provides a Name Service Switch module that allows you
 to authenticate users defined in the RightScale platform

